[Unit]
Description=Tokens Listener (Static Contract Check)

[Service]
ExecStart=/home/fullsend/cryptovesting/scripts/rugmenot_contracts/service/start_tokens_listener.sh

[Install]
WantedBy=multi-user.target