html {
  --bkg-color: #080116;
  --container-color: #515459;
  --text-color: #F7F7FF;
  --selected-color: #279AF1;
  --error-color: #D62828;
  --success-color: #64F58D;
  --warning-color: #F0F27E;
  --container-item-color: #310C7C;
  --select-color: #00BEFA;
  --line-color: #35373A;
  --notification-box-color: #0B67AC;
}


#overlay    {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.5);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
